@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  background-color:#04AA6D;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  margin: 10px 30px;
}

.form-container {
  margin-top: 10px;
  padding-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name,
.phone,
.address{
  
  padding-left: 10px;
}

.date,
.time {
  
  padding-left: 10px;
}


.name-input,
.phone-input,
.address-input {
  border-radius: 10px;
  border: none;
}

label {
  font-size: 20px;
}
input {
  display: block;
  margin-top: 10px;
  height: 40px;
}

.button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin: 20px 120px;
  font-size: 20px;
  background-color: #83e4c0;
  border: none;

}

.input-patient{
  width: 50%;
  border-radius: 10px;
  border: none;
}
#new-patient {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#new-patient-button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin: 20px 120px;
  font-size: 20px;
  background-color:  #83e4c0;
  border: none;
}

.data-list{
width: 50%;
border: 1px solid red;
}

a{
  color: white;
}
